**Lectura, almacenamiento y actualización de una base de datos**

* Definir un nombre para mi archivo
* Definir un formato para mi archivo
* Seleccionar los campos que tendrá la base
* Se deben consevar los registros anteriores
* Se deben poder ingresar nuevos registros

In [1]:
nombre = 'base_datos.csv'

* Campos:
    * Nombre
    * Apellido
    * Contraseña
    * Fecha de nacimiento
    * Nivel de educación

In [2]:
import pandas as pd
from datetime import datetime as dt
try:
    base = pd.read_csv(nombre, index_col='CI')
    base.index = base.index.astype(str)
except FileNotFoundError:
    base = pd.DataFrame()

In [3]:
base

,Nombre,Apellido,Contraseña,Fecha,Nivel instrucción
CI,,,,,
170000000000,Daniel Naranjo,Naranjo,1233,2000-01-01 00:00:00,2
1800000000,José,Pérez,1234124,2000-01-01 00:00:00,2
12,Daniel,Naranjo,11234567,2000-01-01 00:00:00,2

In [4]:
def leer_fecha():
    f = input('Ingrese su fecha de nacimiento (Año-mes-día): ')
    f = pd.to_datetime(f, format='%Y-%m-%d')
    if dt.today().year - f.year > 100:
        raise ValueError('No pueden haber personas de más de 100 años.')
    return f

def validar_c():
    """
    Leer una contraseña y verifica que tenga:
        - Al menos una mayúscula
        - Al menos una minúscula
        - Que tenga al menos un número
        - La longitud sea de al menos 8 y máximo 16
    """
    c = input('Ingrese su contraseña: ')
    if len(c) < 8 or len(c) > 16:
        raise ValueError('La contraseña debe tener entre 8 y 16 carcateres')
    may = False
    for i in c:
        if i.upper() == i and i.isalpha():
            may = True
            break
    minus = False
    for i in c:
        if i.lower() == i and i.isalpha():
            minus = True
            break
    num = False
    for i in c:
        if i.isdigit():
            num = True
            break
    if may and minus and num:
        return c
    else:
        raise ValueError('La contraseña debe tener minúsculas, mayúsculas y números')

In [5]:
n = input('Ingrese su nombre: ')
a = input('Ingrese su apellido: ')
c = validar_c()
f = leer_fecha()
ne = input('Ingrese su nivel de educación: ')
ci = input('Ingrese su CI: ')

Ingrese su nombre: Daniel
Ingrese su apellido: Naranjo
Ingrese su contraseña: 123456Co
Ingrese su fecha de nacimiento (Año-mes-día): 2000-01-01
Ingrese su nivel de educación: 2
Ingrese su CI: 170000000000

In [10]:
nueva_fila = {'Nombre': n, 'Apellido': a, 'Contraseña': c, 'Fecha': f, 'Nivel instrucción': ne, 'CI': ci}
nueva_fila = pd.Series(nueva_fila)
nueva_fila = pd.DataFrame(nueva_fila)
nueva_fila = nueva_fila.T
nueva_fila = nueva_fila.set_index('CI')
nueva_fila

              Nombre Apellido Contraseña      Fecha Nivel instrucción
CI
170000000000  Daniel  Naranjo   123456Co 2000-01-01                 2

In [11]:
base = pd.concat([base, nueva_fila])
base = base.loc[~base.index.duplicated(keep='last')].copy()
base

,Nombre,Apellido,Contraseña,Fecha,Nivel instrucción
CI,,,,,
1800000000,José,Pérez,1234124,2000-01-01 00:00:00,2
12,Daniel,Naranjo,11234567,2000-01-01 00:00:00,2
170000000000,Daniel,Naranjo,123456Co,2000-01-01 00:00:00,2

In [12]:
base.to_csv(nombre)