**Lectura, almacenamiento y actualización de una base de datos**

* Definir un nombre para mi archivo
* Definir un formato para mi archivo
* Seleccionar los campos que tendrá la base
* Se deben consevar los registros anteriores
* Se deben poder ingresar nuevos registros

In [1]:
nombre = 'base_datos.csv'

* Campos:
    * Nombre
    * Apellido
    * Contraseña
    * Fecha de nacimiento
    * Nivel de educación

In [2]:
import pandas as pd
try:
    base = pd.read_csv(nombre, index_col='CI')
except FileNotFoundError:
    base = pd.DataFrame()

In [3]:
base

            Nombre Apellido  Contraseña      Fecha Nivel instrucción
CI
1800000000  Daniel  Naranjo    11234567  222-22-22        Secundaria
1800000000  Daniel  Naranjo    11234567  222-22-22        Secundaria
1800000000  Daniel  Naranjo    11234567  222-22-22        Secundaria
1800000000  Daniel  Naranjo    11234567  222-22-22        Secundaria

In [6]:
n = input('Ingrese su nombre: ')
a = input('Ingrese su apellido: ')
c = input('Ingrese su contraseña: ')
f = input('Ingrese su fecha de nacimiento (Año-mes-día): ')
ne = input('Ingrese su nivel de educación: ')
ci = input('Ingrese su CI: ')

Ingrese su nombre: Daniel
Ingrese su apellido: Naranjo
Ingrese su contraseña: 11234567
Ingrese su fecha de nacimiento (Año-mes-día): 222-22-22
Ingrese su nivel de educación: Secundaria

In [15]:
nueva_fila = {'Nombre': n, 'Apellido': a, 'Contraseña': c, 'Fecha': f, 'Nivel instrucción': ne, 'CI': ci}
nueva_fila = pd.Series(nueva_fila)
nueva_fila = pd.DataFrame(nueva_fila)
nueva_fila = nueva_fila.T
nueva_fila = nueva_fila.set_index('CI')
nueva_fila

            Nombre Apellido Contraseña      Fecha Nivel instrucción
CI
1800000000  Daniel  Naranjo   11234567  222-22-22        Secundaria

In [20]:
base = pd.concat([base, nueva_fila])
base

            Nombre Apellido Contraseña      Fecha Nivel instrucción
CI
1800000000  Daniel  Naranjo   11234567  222-22-22        Secundaria
1800000000  Daniel  Naranjo   11234567  222-22-22        Secundaria
1800000000  Daniel  Naranjo   11234567  222-22-22        Secundaria
1800000000  Daniel  Naranjo   11234567  222-22-22        Secundaria

In [21]:
base.to_csv(nombre)